<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
  </div>
  
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/about" class="w3-bar-item w3-button">Portfolio</a>
    <a href="/contact" class="w3-bar-item w3-button">Contact</a>
  </div>
</header>